* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#slide { display: none; }
.slide { white-space: nowrap; }
.slide-content { align-self: center; }

@media screen {
	/* Aspect ratio classes for the body tag */
	body { position: absolute; top: 50%; left: 50%; }
	.slide-presentation { width: 800px; height: 768px; margin: -384px 0 0 -512px; }
	.slide-test { margin: -384px 0 0 -512px; }
	.slide-4x3 { width: 1024px; height: 768px; margin: -384px 0 0 -512px; }
	.slide-16x9 { width: 1024px; height: 576px; margin: -288px 0 0 -512px; }
	.slide-16x10 { width: 1024px; height: 640px; margin: -320px 0 0 -512px; }
	.slide-1280800 { width: 1280px; height: 800px; margin: -320px 0 0 -512px; }

	.slide {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		overflow: hidden;
	}
}

@media print {
	body { transform: none !important; }
	h1 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; font-weight: 300; }
	.slide-root { width: 100%; display: flex; flex-wrap: wrap; align-items: stretch; }
	.slide-content { transform: none !important; }
	.slide {
		display: flex;
		justify-content: center;
		flex: 1;
		padding: 0.5rem;
		margin: 0.5rem 0.5rem 4rem 0.5rem;
		border: 1px solid rgba(0, 0, 0, 0.2);
		visibility: visible !important;
	}
}
